$font-color-default: #86a5b1;
$font-color-highlight: #9feaf9;

// region global style
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html, body, #app {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #2f3241;
    color: $font-color-default;
    font-family: 'Menlo', 'Lucida Console', monospace;
    font-size: 14px;
    overflow: hidden;
}

img {
    -webkit-user-drag: none;
}

// endregion

// region PrimeVue style
.pi {
    width: 20px;
    height: 20px;
    color: $font-color-default;
    line-height: 20px;
    text-align: center;
}

.p-toast {
    width: 200px !important;
    font-size: 12px !important;

    .p-toast-message-icon {
        font-size: 24px !important;
    }

    .p-toast-message-content {
        padding: 5px !important;
        display: flex;
        align-items: center;

        .p-toast-message-text {
            .p-toast-summary, .p-toast-detail {
                word-break: break-all;
            }
        }
    }

    .p-toast-detail {
        margin: 0 !important;
    }
}

.p-menu {
    width: 100px !important;
    background-color: #2f3241 !important;

    .p-menuitem-link {
        padding: 5px 10px;

        .p-menuitem-icon {
            color: $font-color-highlight;
        }

        .p-menuitem-text {
            color: $font-color-default;
        }
    }
}

.p-dialog {
    padding: 5px 10px;
    border: solid 1px #9feaf9;
    background-color: #2f3241;

    .p-dialog-header {
        padding: 0;
        background-color: #2f3241;
        color: $font-color-default;
        user-select: none;
        cursor: move;

        .p-dialog-title {
            font-size: 16px;
            font-family: cursive;
        }
    }

    .p-dialog-content {
        padding: 0;
        background-color: #2f3241;
        color: $font-color-default;
    }

    .p-dialog-footer {
        padding: 0;
        background-color: #2f3241;
        color: $font-color-default;
        font-family: cursive;
    }
}

// endregion

// region custom
.hover-spin {
    transition: transform 1s;

    &:hover {
        transform: rotate(360deg);
    }
}

.hover-underline {
    &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 0;
        bottom: 0;
        left: 50%;
        background-color: #9feaf9;
        transition: all 0.2s linear;
    }

    &:hover::after {
        width: 100%;
        left: 0;
    }
}

.btn-like {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;

    &:hover {
        background-color: #cccccc1a;
    }
}
// endregion